@import '../../../Theme/Variables';
@import '../../../Theme/Mixins';

.tp-button {
  display: inline-flex;
  align-items: center;
  position: relative;
  min-height: 40px;
  border-radius: 20px;
  border: none;
  outline: none!important;
  overflow: hidden;
  

  .tp-button-decoration {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    opacity: 1;
    border-radius: 150px;
    background: rgba(0, 0, 0, .6);
    @include use-transformed(translate(-50%, -50%) scale(0));
  }

  &.green-btn {
    background: $brand-green;
    color: #fff;
    justify-content: center;
  }

  &.black-btn {
    background-color: black;
    color: white;
    justify-content: center;
  }

  &.transparent-btn {
    background: transparent;
    color: white;
    justify-content: center;
  }

  &.wasCLicked {
    .tp-button-decoration {
      opacity: 0;
      @include use-transformed(translate(-50%, -50%) scale(1));
    }
  }

  &.withAnimation {
    .tp-button-decoration {
      @include use-transition(300ms);
    }
  }

  &.isDisabled {
    opacity: .7;
  }
}