.display-flex,
.display-inline-flex {
  align-items: center;

  &.align-left {
    justify-content: flex-start;
  }
  &.align-center {
    justify-content: center;
  }
  &.align-right {
    justify-content: flex-end;
  }
}

.brand-green{
  color: #0da804;
}

.full-width {
  width: 100%;
}

.three-quarters-width {
  width: 75%;
}

.half-width {
  width: 50%;
}

.full-height {
  height: 100%;
}

.pos-rel {
  position: relative;
}
.pos-abs {
  position: absolute;
}

.size-cover {
  width: 100%;
  height: 100%;
}

/* Breakpoint XS */
@media (max-width: 575px)
{
  .hidden-xs-down, .hidden-sm-down, .hidden-md-down, .hidden-lg-down, .hidden-xl-down,
  .hidden-xs-up,
  .hidden-unless-sm, .hidden-unless-md, .hidden-unless-lg, .hidden-unless-xl
  {
    display: none !important;
  }

}

/* Breakpoint SM */
@media (min-width: 576px) and (max-width: 767px)
{
  .hidden-sm-down, .hidden-md-down, .hidden-lg-down, .hidden-xl-down,
  .hidden-xs-up, .hidden-sm-up,
  .hidden-unless-xs, .hidden-unless-md, .hidden-unless-lg, .hidden-unless-xl
  {
    display: none !important;
  }
}

/* Breakpoint MD */
@media (min-width: 768px) and (max-width: 991px)
{
  .hidden-md-down, .hidden-lg-down, .hidden-xl-down,
  .hidden-xs-up, .hidden-sm-up, .hidden-md-up,
  .hidden-unless-xs, .hidden-unless-sm, .hidden-unless-lg, .hidden-unless-xl
  {
    display: none !important;
  }
}

/* Breakpoint LG */
@media (min-width: 992px) and (max-width: 1199px)
{
  .hidden-lg-down, .hidden-xl-down,
  .hidden-xs-up, .hidden-sm-up, .hidden-md-up, .hidden-lg-up,
  .hidden-unless-xs, .hidden-unless-sm, .hidden-unless-md, .hidden-unless-xl
  {
    display: none !important;
  }
}

/* Breakpoint XL */
@media (min-width: 1200px)
{
  .hidden-xl-down,
  .hidden-xs-up, .hidden-sm-up, .hidden-md-up, .hidden-lg-up, .hidden-xl-up,
  .hidden-unless-xs, .hidden-unless-sm, .hidden-unless-md, .hidden-unless-lg
  {
    display: none !important;
  }
}

/* No select */

.noSelect {
  //&, & * {
  //  @include use-no-select();
  //}
}

.tp-route {
  min-height: calc(100vh - 100px);
  width: 100%;
  position: relative;
}

.full-height-without-header {
  min-height: calc(100vh - 100px);
  width: 100%;
}

.header-height {
  height: 100px;
}
.sign-in-form-height {
  height: 400px;
}
.register-form-height {
  height: 800px;
}
.logo-width {
  width: 177px;
}

$margin-list: margin margin-top margin-bottom margin-left margin-right;
$padding-list: padding padding-top padding-bottom padding-left padding-right;

@for $i from 0 through 20 {

  @each $margin-property in $margin-list {
    $_i: $i * 10;

    .#{$margin-property}-#{$_i} {
      #{$margin-property}: #{$_i}px;
    }

    .#{$margin-property}-neg-#{$_i} {
      #{$margin-property}: -#{$_i}px;
    }

    .margin-v-#{$_i} {
      margin-top: #{$_i}px;
      margin-bottom: #{$_i}px;
    }

    .margin-h-#{$_i} {
      margin-left: #{$_i}px;
      margin-right: #{$i}px;
    }

    .margin-#{$_i} {
      margin: #{$_i}px;
    }
  }

  @each $padding-property in $padding-list {
    $_i: $i * 10;

    .#{$padding-property}-#{$_i} {
      #{$padding-property}: #{$_i}px;
    }

    .padding-v-#{$_i} {
      padding-top: #{$_i}px;
      padding-bottom: #{$_i}px;
    }

    .padding-h-#{$_i} {
      padding-left: #{$_i}px;
      padding-right: #{$_i}px;
    }

    .padding-#{$_i} {
      padding: #{$_i}px;
    }
  }
}

$positions-list: top right bottom left;

@for $i from 0 through 10 {
  $_i: $i * 50;

  @each $position-property in $positions-list {
    .#{$position-property}-#{$_i} {
      #{$position-property}: #{$_i}px;
    }

    .#{$position-property}-neg-#{$_i} {
      #{$position-property}: -#{$_i}px;
    }
  }
}