.tp-footer{
    background: black;
    height: 60px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    
}
.tp-footer-logo{
    height: 60px;
    width: 54px;
}
.tp-footer-text-color{
    color: white;
}